:root{--gold:#C6A66A;--dark:#111;--bg:#F7F5F0;}
body{background:var(--bg);}


.hero{
    position:relative;
    height:320px;
    overflow:hidden;
}


.hero-bg{
    position:absolute;
    inset:-40px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    transition:transform .2s ease-out;
    will-change:transform;
}


.hero-overlay{
    position:relative;
    z-index:2;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.45);
}



.nav-link{
    font-family: "Montserrat", sans-serif;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #111;
    transition: .3s;
}

.nav-link:hover{
    color:var(--gold);
}


.card{border-radius:18px}
h3{color:var(--gold)}


.form-control{
    border: 1px solid #C96C31;
}

.atafo-navbar{
    min-height:90px;
    padding:0 !important;
}

.atafo-navbar .container-fluid{
    padding-left:0 !important;
    padding-right:0 !important;
}

.navbar-brand{
    margin:0 !important;
    padding:0 !important;
}

.logo-img{
    width:200px;
    height:90px;
    object-fit:contain;
    display:block;
    margin:0 !important;
}


.hero h1,
.hero .lead{
    color: #fff;
}
.hero h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.hero p{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

@media (max-width:800px){

    .atafo-navbar .container-fluid{
        justify-content:space-between;
        padding-left:0 !important;
    }
      .hero h1{
        font-size: 2.2rem !important;
    }

    .navbar-brand{
        margin-left:-12px !important;
    }

    .logo-img{
        width:130px !important;
        height:auto !important;
    }

    .navbar-toggler{
        margin-right:30px;
    }

    .navbar-collapse{
        padding-left:15px;
    }

       .hero .lead{
        font-size: 1rem;
    }
}

.menu-icon{
    color:#C96C31;
    font-size:2.2rem !important;
}

.navbar-toggler{
    border:1px solid #C96C31;
}

.navbar-toggler:focus{
    box-shadow:none;
}














.footer{
    position:relative;
    padding:70px 0;
    background:url("foot.webp") center center/cover no-repeat;
    overflow:hidden;
}

.footer::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.65)
    );
}

.footer .container{
    position:relative;
    z-index:2;
}

/* Headings */
.footer h4{
    color:#fff;
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:20px;
}

/* Links */

.footer-links{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-links li{
    margin-bottom:10px;
}

.footer-links a{
    color:#fff;
    text-decoration:none;
    font-size:.95rem;
    transition:.3s;
    font-weight:500;
}

.footer-links a:hover{
    color:#C96C31;
}

/* Contact */

.contact-box{
    display:flex;
    gap:18px;
    align-items:flex-start;
    margin-bottom:20px;
}

.icon-circle{
    width:55px;
    height:55px;
    border-radius:50%;
    background:rgba(255,255,255,.18);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:1.5rem;
}

.small-text{
    color:#ddd;
    font-size:.9rem;
}

.contact-box h3{
    color:#fff;
    font-size:1rem;
    margin:2px 0 0;
}

.footer p{
    color:#eee;
    font-size:.95rem;
    line-height:1.7;
    margin-bottom:.6rem;
}

/* Newsletter */

.newsletter{
    display:flex;
    gap:12px;
    margin-top:20px;
}

.newsletter input{
    flex:1;
    height:52px;
    border:2px solid rgba(255,255,255,.7);
    background:rgba(255,255,255,.08);
    color:#fff;
    padding:0 18px;
    outline:none;
}

.newsletter input::placeholder{
    color:#ddd;
}

.newsletter button{
    background:#C96C31;
    color:#fff;
    border:none;
    padding:0 24px;
    font-size:.9rem;
    font-weight:600;
}

.newsletter button:hover{
    background:#fff;
    color:#C96C31;
}

/* Socials */

.socials{
    display:flex;
    gap:18px;
    margin-top:28px;
    font-size:1.6rem;
}

.socials a{
    transition:.3s;
}

.socials a:hover{
    transform:translateY(-4px);
}

.socials .bi-facebook{color:#1877F2;}
.socials .bi-twitter-x{color:#fff;}
.socials .bi-pinterest{color:#E60023;}
.socials .bi-instagram{color:#E4405F;}

@media(max-width:800px){

    .footer{
        text-align:center;
        padding:55px 0;
    }

    .contact-box{
        justify-content:center;
    }

    .newsletter{
        flex-direction:column;
    }

    .newsletter button{
        height:52px;
    }

    .socials{
        justify-content:center;
    }

}


@media (min-width:801px){
    .navbar-nav .nav-item{
        margin-left:30px;
    }
}
















































.card{
    border:none;
    border-radius:18px;
    background:#fff;
    box-shadow:
        0 10px 30px rgba(0,0,0,.08),
        0 2px 8px rgba(201,108,49,.08);
    transition:all .3s ease;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:
        0 18px 40px rgba(0,0,0,.12),
        0 6px 18px rgba(201,108,49,.15);
}


h3{color:#C96C31;margin-bottom:20px}

h3 i{margin-right:8px}

.form-control,.form-select{border:1px solid #C96C31}.form-control:focus,
.form-select:focus{border-color:#C96C31;box-shadow:0 0 0 .2rem rgba(201,108,49,.2)}

.next-btn{
    display:inline-flex;
    align-items:center;
    gap:12px;
    padding:14px 30px;
    background:#C96C31;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    font-size:1rem;
    border-radius:50px;
    box-shadow:0 8px 20px rgba(201,108,49,.30);
    transition:all .3s ease;
}

.next-btn i{
    font-size:1.2rem;
    transition:transform .3s ease;
}

.next-btn:hover{
    background:#C6A66A;
    color:#fff;
    transform:translateY(-3px);
    box-shadow:0 14px 30px rgba(198,166,106,.35);
}

.next-btn:hover i{
    transform:translateX(6px);
}





/* Back Button */

.back-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:8px;

    background:#B65A2A;          /* Burnt Orange */
    color:#fff;
    text-decoration:none;

    padding:14px 30px;
    border-radius:999px;

    font-weight:600;
    border:2px solid #B65A2A;

    transition:all .35s ease;
}

.back-btn:hover{
    background:#D4AF37;          /* Gold */
    border-color:#D4AF37;
    color:#fff;

    transform:translateY(-3px);

    box-shadow:0 12px 30px rgba(212,175,55,.35);
}












 
@media (max-width:991px){

    .atafo-navbar{
        position:relative;
    }


    .mobile-menu{

        display:none;

        position:absolute;

        top:100%;

        left:15px;

        right:15px;

        background:#eeeeee;

        padding:15px;

        border-radius:12px;

        box-shadow:0 10px 25px rgba(0,0,0,.15);

        z-index:9999;

    }


    .mobile-menu.show-menu{

        display:block;

    }


    .mobile-menu .nav-link{

        padding:12px 15px;

    }

}








@media (max-width: 799px) {
    .measurements-grid > div {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .measurements-grid > div {
        width: 33.333333%;
    }
}




@media (max-width: 799px) {
    .order-info-grid > div {
        width: 50%;
    }
}


/* Traditional Measurements */

.traditional-table {
    width: 100%;
}

.traditional-header,
.traditional-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.traditional-header {
    font-weight: 700;
    color: #111;
}

.traditional-header > div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.traditional-row > div {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.traditional-input .form-control {
    width: 100%;
}

.traditional-label {
    font-size: 1rem;
    color: #222;
    font-weight: 500;
}

@media (max-width: 799px) {
    .traditional-header,
    .traditional-row {
        grid-template-columns: 1fr 1.8fr;
    }

    .traditional-label {
        font-size: 0.9rem;
    }
}




























































































































































































/* ==================================================
   CATEGORY MARQUEE
================================================== */

.category-marquee {
    width: 100%;
    overflow: hidden;
    padding: 20px 35px;
    box-sizing: border-box;
}


/* ==================================================
   VIEWING AREA
================================================== */

.category-marquee-track {
    width: 100%;
    overflow: hidden;

    display: flex;
}


/* ==================================================
   MOVING CONTENT
================================================== */

.category-marquee-group {
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 25px;

    padding: 0 35px;

    min-width: 100%;
}


/* ==================================================
   CATEGORY ITEM
================================================== */

.category-item {
    flex: 0 0 auto;

    min-width: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: #B85C38;

    cursor: pointer;

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}


/* ==================================================
   ICON
================================================== */
.category-icon {
    color: #B85C38;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-icon svg {
    width: 40px;
    height: 40px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}


/* ==================================================
   TEXT
================================================== */

.category-item span {
    font-family: Georgia, "Times New Roman", serif;

    font-size: 16px;
    font-weight: 600;

    white-space: nowrap;
}


/* ==================================================
   HOVER
================================================== */

.category-item:hover {
    color: #C6A66A;
    transform: translateY(-3px);
}


/* ==================================================
   PAUSE WHEN HOVERED
================================================== */

.category-marquee:hover .category-marquee-group {
    animation-play-state: paused;
}


/* ==================================================
   MOVE RIGHT
================================================== */

.category-marquee-group {
    animation: categoryMoveRight 20s linear infinite;
}


@keyframes categoryMoveRight {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }

}